{% extends "base.html" %}

{% block title %}
{{ company.name }}
{% endblock %}

{% block content %}


<h2 class="ma4">{{ company.name }}</h2>
<div class="ma4">
    <p class="ma3">{{ company.description }}</p>
    {% if company.careers %}
    <p class="ma3" >Job Board:  <a href="#">{{ company.careers }}</a></p>
    {% endif %}
</div>
<div class="flex justify-center">    
    <div class = "ma3 w-40 pa3 outline shadow-2">
        <h3 class = "ma3 tc" >Contacts:</h3>
        {% if contacts %}
            {% for contact in contacts %}
                <p><a href="{% url 'contact_detail' contact_pk=contact.pk %}">{{ contact.first_name }} {{ contact.last_name }}</a></p>
            {% endfor %}
        {% endif %}
    </div>
    <div class = "ma3 w-40 pa3 outline shadow-2">
        <h3 class = "ma3 tc" >Notes:</h3>
        {% if company_notes %}
            {% for note in company_notes %}
                <p><a href="#">{{ note.date }} <strong>{{ note.title }}</strong></a></p>
            {% endfor %}
        {% endif %}              
    </div>
</div>

{% endblock %}

   