{% extends "base.html" %}

{% block title %}
{{ contact.first_name }} {{ contact.last_name}}
{% endblock %}

{% block content %}


<h2 class="tc">{{ contact.first_name }} {{ contact.last_name }}, {{ contact.company }}</h2>
<div class="flex justify-center">  
    <div class="ma3 w-40 pa3">
        {% if contact.email %}
            <p class="ma3">Email:  {{ contact.email }}</p>
        {% endif %}
        {% if contact.phone %}
            <p class="ma3">Phone:  {{ contact.phone }}</p>
        {% endif %}
        {% if contact.linkedin %}
            <p class="ma3">LinkedIn:  <a href="{{ contact.linkedin }}"> {{ contact.linkedin }}</a></p>
        {% endif %}
        {% if contact.twitter %}
            <p class="ma3">Twitter:  <a href="{{ contact.twitter }}">{{ contact.twitter }}</a></p>
        {% endif %}
            <p class="ma3">Relationship:  {{ contact.relationship }}</p>  
            <p class="ma3">Status:  {{ contact.status }}</p>
    </div>
    <div class="ma3 w-20 pa3 outline shadow-2" id="profilePic">
    </div>
</div>
<div class="flex justify-center">    
    <div class = "ma3 w-40 pa3 outline shadow-2">
        <h3 class = "ma3 tc" >Notes:</h3>
        {% if contact_notes %}
            {% for note in contact_notes %}
            <p> <a href="#">{{ note.date }}  {{ note.title }}</a></p>
            {% endfor %}
        {% endif %}
    </div>
    <div class = "ma3 w-40 pa3 outline shadow-2">
        <h3 class = "ma3 tc" >Conversations:</h3>
            {% if conversations %}
                {% for conversation in conversations %}
                <p><a href="#">{{ conversation.date }} <strong>{{ conversation.title }}</strong></a></p>
                {% endfor %}
            {% endif %}
    </div>
</div>
<!--
<script>
fetch ('https://api.github.com/users/scarter13')
.then (function (response) {
    //console.log (response)
    return response.json ()
}) 
.then (function (data) {
    //console.log (data)
    console.log (data.name)
    console.log("In the function, name is " + data.name)
    console.log (data.avatar_url)

console.log("Outside of the function, the name is " + data.name)
let targetElement = document.querySelector('#profilePic')
//let headerElement = document.createElement ("h1")
let imageEl = document.createElement ("div")
    imageEl.innerHTML = `<img src=${data.avatar_url}>`
        //headerElement.innerText = (data.name)
        // console.log (headerElement)
    targetElement.appendChild(imageEl)
})
</script>
-->
{% endblock %}