{% extends "base.html" %}

{% block content %}
<h2 class="tc"><a href="{% url 'contact_detail' contact_pk=contact.pk %}">{{ contact.first_name }} {{ contact.last_name }}, {{ contact.company }}</a></h2>
<div class="flex justify-center">
    <div class="ma4 w-60 outline shadow-2">  
        <div class="ma3">
            <form action="{% url 'delete_contact' contact_pk=contact.pk %}" method="POST">
                {% csrf_token %}
                <h3 class ="tc">Are you sure you want to delete this Contact?</h3>
                <div class="flex justify-center">
                    <button type="submit" class="f6 link dim br3 ph3 pv1 ma3 dib white bg-red">Delete</button>
                    <a class="f6 link dim br3 ph3 pv1 ma3 dib white bg-dark-green" href="{% url 'contact_detail' contact_pk=contact.pk %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="flex justify-center">  
    <div class="ma2 w-30 pa3 outline shadow-2">
        <div class="flex justify-between">
            <p class = "ma3 b f4 tc" >Details:</p>
        </div>
        {% if contact.email %}
            <p class="ma3">Email:  {{ contact.email }}</p>
        {% endif %}
        {% if contact.phone %}
            <p class="ma3">Phone:  {{ contact.phone }}</p>
        {% endif %}
        {% if contact.linkedin %}
            <p class="ma3">LinkedIn:  <a href="{{ contact.linkedin }}"> {{ contact.linkedin }}</a></p>
        {% endif %}
        {% if contact.twitter %}
            <p class="ma3">Twitter:  <a href="https://twitter.com/{{ contact.twitter }}">{{ contact.twitter }}</a></p>
        {% endif %}
            <p class="ma3">Relationship:  {{ contact.relationship }}</p>  
            <p class="ma3">Status:  {{ contact.status }}</p>
    </div>
    <div class="ma2 w-30 pa3 outline shadow-2">
        <div class="flex justify-between">
            <p class = "ma3 b f4 tc" >Conversations:</p>
            <p><a class="f6 link dim br3 ph3 pv1 mb2 dib white bg-dark-green" href="{% url 'add_conversation' contact_pk=contact.pk %}">New Conversation</a></p>
        </div>
        {% if conversations %}
            {% for conversation in conversations %}
            <p class="ma3"><a href="{% url 'conversation_detail' conversation_pk=conversation.pk %}">{{ conversation.title }}, {{ conversation.date }}</a></p>
            {% endfor %}
            <p class="ma3"><a href="{% url 'conversations' contact_pk=contact.pk %}">More</a></p>
        {% endif %}
    </div>
</div>   
{% endblock %}