{% extends "base.html" %}

{% block content %}


<h2 class="tc">My Companies</h2>


<p class="tc"><a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="{% url 'add_company' %}" title="Add-Company">Add a New Company</a></p>
    <div class="flex flex-wrap">
        {% for company in companies %}
            <div class="contain ma3 w-20 pa3 outline shadow-2">
                <a href="{% url 'company_detail' company_pk=company.pk %}">
                <h3 class="tc"> {{ company.name }}</h3>
                    {% if company.num_contacts %}
                        <p class="tc"><strong>Contacts: {{ company.num_contacts }}</strong></p>
                    {% endif %}  
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
