{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="tc">My Companies</h2>
</div>

<p class="tr mr6"><a class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" href="{% url 'add_company' %}" title="Add-Company">Add a New Company</a></p>

    {% for company in companies %}
        <div>
            <h2 class="ma4"> {{ company.name }}</h2>
                {% if company.num_contacts %}
                    <p><strong>Contacts: {{ company.num_contacts }}</strong></p>
                {% endif %}           
        </div>
    {% endfor %}

{% endblock %}
